.nav-link {
    color: black;
}

.navbar-brand {

    padding: 30px;
}
.navbar-nav {
    padding: 15px 200px 15px 30px;
}

.navbar-toggler-icon {
    color: white;
}

.landing{
    background-image: url(bg.jpg);
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.print {
    text-align: center;
    margin-top: 200px;
}

.hobby{
    position: relative;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: beige;
    display: none
}

